Table 1: Variables Definition

Educational Attainment and Confidence in Education Data Exploration

By: Aaron Zhao

In [1]:
use NewGSS.dta, clear

In [2]:
codebook

-------------------------------------------------------------------------------
educ                                           highest year of school completed
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: EDUC

                 Range: [0,20]                        Units: 1
         Unique values: 21                        Missing .: 0/2,348
       Unique mv codes: 2                        Missing .*: 3/2,348

              Examples: 12    12th grade
                        12    12th grade
                        14    2 years of college
                        16    4 years of college

-------------------------------------------------------------------------------
born                                                 was r born in this country
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: YESNO

                 Range: [1,2]                         Units: 1
         Unique values: 2                         Missing .: 0/2,348
       Unique mv codes: 1                        Missing .*: 1/2,348

            Tabulation: Freq.   Numeric  Label
                        2,045         1  yes
                          302         2  no
                            1        .n  no answer

-------------------------------------------------------------------------------
coneduc                                                 confidence in education
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: INSTCONF

                 Range: [1,3]                         Units: 1
         Unique values: 3                         Missing .: 0/2,348
       Unique mv codes: 3                        Missing .*: 803/2,348

            Tabulation: Freq.   Numeric  Label
                          388         1  a great deal
                          866         2  only some
                          291         3  hardly any
                           15        .d  don't know
                          785        .i  iap
                            3        .n  no answer

Generate Dummy Variables of Original Variables
- To make my variables of interest easier to navigate and interpret

In [3]:
gen coneducation=.  //higher values=more confidence
recode coneducation .=1 if coneduc==3
recode coneducation .=2 if coneduc==2 
recode coneducation .=3 if coneduc==1
recode coneducation .=4 if coneduc==.d
recode coneducation .=5 if coneduc==.i
recode coneducation .=6 if coneduc==.n
drop if coneducation==5
drop if coneducation==4
drop if coneducation==6
label values coneducation confmt
label var coneducation "Confidence in Education"
tab coneduc coneducation, m

(2,348 missing values generated)
(291 changes made to coneducation)
(866 changes made to coneducation)
(388 changes made to coneducation)
(15 changes made to coneducation)
(785 changes made to coneducation)
(3 changes made to coneducation)
(785 observations deleted)
(15 observations deleted)
(3 observations deleted)

        confidence in |     Confidence in Education
            education |         1          2          3 |     Total
----------------------+---------------------------------+----------
         a great deal |         0          0        388 |       388
            only some |         0        866          0 |       866
           hardly any |       291          0          0 |       291
----------------------+---------------------------------+----------
                Total |       291        866        388 |     1,545

In [4]:
tab coneducation

 Confidence |
         in |
  Education |      Freq.     Percent        Cum.
------------+-----------------------------------
          1 |        291       18.83       18.83
          2 |        866       56.05       74.89
          3 |        388       25.11      100.00
------------+-----------------------------------
      Total |      1,545      100.00

In [5]:
gen education=educ  //higher values=more education
label var education "Level of Education Attainment"
label define education 1"Low" 2 "Some" 3 "High" 
label values education education
replace education=1 if educ==1
replace education=1 if educ==2
replace education=1 if educ==3
replace education=1 if educ==4
replace education=1 if educ==5
replace education=1 if educ==6
replace education=2 if educ==7
replace education=2 if educ==8
replace education=2 if educ==9
replace education=2 if educ==10
replace education=2 if educ==11
replace education=2 if educ==12
replace education=2 if educ==13
replace education=3 if educ==14
replace education=3 if educ==15
replace education=3 if educ==16
replace education=3 if educ==17
replace education=3 if educ==18
replace education=3 if educ==19
replace education=3 if educ==20
drop if educ==.n
drop if educ==.d
replace education=1 if education==0
tab educ education, m

(1 missing value generated)
(0 real changes made)
(2 real changes made)
(7 real changes made)
(4 real changes made)
(1 real change made)
(14 real changes made)
(7 real changes made)
(22 real changes made)
(32 real changes made)
(40 real changes made)
(64 real changes made)
(416 real changes made)
(114 real changes made)
(219 real changes made)
(90 real changes made)
(279 real changes made)
(75 real changes made)
(84 real changes made)
(27 real changes made)
(44 real changes made)
(0 observations deleted)
(1 observation deleted)
(2 real changes made)

      highest year of |  Level of Education Attainment
     school completed |       Low       Some       High |     Total
----------------------+---------------------------------+----------
  no formal schooling |         2          0          0 |         2
            1st grade |         1          0          0 |         1
            2nd grade |         2          0          0 |         2
            3rd grade |         7          0          0 |         7
            4th grade |         4          0          0 |         4
            5th grade |         1          0          0 |         1
            6th grade |        14          0          0 |        14
            7th grade |         0          7          0 |         7
            8th grade |         0         22          0 |        22
            9th grade |         0         32          0 |        32
           10th grade |         0         40          0 |        40
           11th grade |         0         64          0 |        64
           12th grade |         0        416          0 |       416
    1 year of college |         0        114          0 |       114
   2 years of college |         0          0        219 |       219
   3 years of college |         0          0         90 |        90
   4 years of college |         0          0        279 |       279
   5 years of college |         0          0         75 |        75
   6 years of college |         0          0         84 |        84
   7 years of college |         0          0         27 |        27
8 or more years of co |         0          0         44 |        44
----------------------+---------------------------------+----------
                Total |        31        695        818 |     1,544

In [6]:
tab education

   Level of |
  Education |
 Attainment |      Freq.     Percent        Cum.
------------+-----------------------------------
        Low |         31        2.01        2.01
       Some |        695       45.01       47.02
       High |        818       52.98      100.00
------------+-----------------------------------
      Total |      1,544      100.00

In [7]:
gen immigrant=born
label var immigrant "Country of Origin of Respondents"
label define immigrant 1"U.S." 2 "Immigrant"
label values immigrant immigrant
replace immigrant=1 if born==1
replace immigrant=2 if born==2
drop if immigrant==.d
drop if immigrant==.i
drop if immigrant==.n
drop if immigrant==.s
tab born immigrant, m
tab immigrant

(0 real changes made)
(0 real changes made)
(0 observations deleted)
(0 observations deleted)
(0 observations deleted)
(0 observations deleted)

                      | Country of Origin of
   was r born in this |      Respondents
              country |      U.S.  Immigrant |     Total
----------------------+----------------------+----------
                  yes |     1,346          0 |     1,346
                   no |         0        198 |       198
----------------------+----------------------+----------
                Total |     1,346        198 |     1,544

 Country of |
  Origin of |
Respondents |      Freq.     Percent        Cum.
------------+-----------------------------------
       U.S. |      1,346       87.18       87.18
  Immigrant |        198       12.82      100.00
------------+-----------------------------------
      Total |      1,544      100.00

In [8]:
save NewGSS.dta, replace

file NewGSS.dta saved