Descriptive Statistics

Educational Attainment and Confidence in Education Data Exploration

By: Aaron Zhao

In [1]:
use NewGSS.dta, clear

In [2]:
describe

Contains data from NewGSS.dta
 Observations:         1,544
    Variables:             6                  6 May 2024 16:48
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
educ            byte    %29.0g     EDUC       highest year of school completed
born            byte    %29.0g     YESNO      was r born in this country
coneduc         byte    %29.0g     INSTCONF   confidence in education
coneducation    float   %9.0g      confmt     Confidence in Education
education       float   %9.0g      education
                                              Level of Education Attainment
immigrant       float   %9.0g      immigrant
                                              Country of Origin of Respondents
-------------------------------------------------------------------------------
Sorted by:

In [3]:
eststo contractterm: quietly estpost summarize education coneducation immigrant 

esttab, cells("mean(fmt(%9.2fc))" sd(par)) stats(N, fmt(%9.0fc))

-------------------------
                      (1)

                  mean/sd
-------------------------
education            2.51
                   (0.54)
coneducation         2.06
                   (0.66)
immigrant            1.13
                   (0.33)
-------------------------
N                   1,544
-------------------------