Regression estimates

Educational Attainment and Confidence in Education Data Exploration

By: Aaron Zhao

In [1]:
use NewGSS.dta, clear

In [5]:
%head

,educ,born,coneduc,coneducation,education,immigrant,_est_est1
1,10th grade,yes,a great deal,3,2,1,1
2,4 years of college,yes,only some,2,3,1,1
3,4 years of college,yes,hardly any,1,3,1,1
4,6 years of college,yes,only some,2,3,1,1
5,1 year of college,yes,a great deal,3,2,1,1

In [6]:
describe

Contains data from NewGSS.dta
 Observations:         1,544
    Variables:             7                  6 May 2024 17:33
------------------------------------------------------------------------------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
------------------------------------------------------------------------------------------------------------------------------------------------------
educ            byte    %29.0g     EDUC       highest year of school completed
born            byte    %29.0g     YESNO      was r born in this country
coneduc         byte    %29.0g     INSTCONF   confidence in education
coneducation    float   %9.0g      confmt     Confidence in Education
education       float   %9.0g      education
                                              Level of Education Attainment
immigrant       float   %9.0g      immigrant
                                              Country of Origin of Respondents
_est_est1       byte    %8.0g                 esample() from estimates store
------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

In [7]:
eststo clear
eststo: reg coneducation education immigrant

      Source |       SS           df       MS      Number of obs   =     1,544
-------------+----------------------------------   F(2, 1541)      =     18.97
       Model |     16.1504         2  8.07520001   Prob > F        =    0.0000
    Residual |  655.880688     1,541  .425620174   R-squared       =    0.0240
-------------+----------------------------------   Adj R-squared   =    0.0228
       Total |  672.031088     1,543  .435535378   Root MSE        =     .6524

------------------------------------------------------------------------------
coneducation | Coefficient  Std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
   education |  -.1440558   .0310203    -4.64   0.000    -.2049023   -.0832094
   immigrant |   .1751614   .0499669     3.51   0.000      .077151    .2731717
       _cons |   2.226091   .1024255    21.73   0.000     2.025183       2.427
------------------------------------------------------------------------------
(est1 stored)

In [11]:
esttab ///
, cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
 legend starlevels(^ .1 * .05 ** .01 *** .001) ///
mlabels("OLS" "MLE / logistic" "MLE marginal effects") title(“Odds Ratio”) ///
collabels(none) label stats(r2 N, fmt(2 %9.0fc) label(r-squared observations))

“Odds Ratio”
-------------------------------------
                              (1)
                              OLS
-------------------------------------
Level of Education~t        -0.14 ***
                           (0.03)
Country of Origin ~s         0.18 ***
                           (0.05)
Constant                     2.23 ***
                           (0.10)
-------------------------------------
r-squared                    0.02
observations                1,544
-------------------------------------
^ p<.1, * p<.05, ** p<.01, *** p<.001